body {
	background-image: url(../images//Market.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;
	font-family: "Roboto Slab", "Helvetica Neue", sans-serif;
	font-size: 1.5em;
}
#main {
	background-color: white;
	margin: 7.5% 5% 7.5% 5%;
	border: 0.25em solid #47607F;
	position: relative;
	padding-bottom: 50px;
	
}
#main > div {
	position: relative;
	text-align: center;
}
.header {
	text-align: center;
	color: #47607F;
	font-family: "Megrim", Georgia, serif;
}
#helpButton {
}
.help {
	display: none;
	position: absolute;
}
#helpButtonArea {
	position: absolute;
	top: -20px;
	right: 10px;
	cursor: pointer;
}
#help1 {
	text-align: right;
	padding-right: 40px;
	margin-top: 0px;
}
#help2 {
	left: 60px;
	top: 54px;
	margin-top: 0px;

}
#help3 {
	top: 54px;
    margin-top: 0px;
    right: 5px;
}
#help4 {
	top: 0px;
	position: relative;
}
#help5 {
	top: 0px;
	text-align: center;
	width: 100%;
	position: relative;
}
#inputItems {
	text-align: center;
	border: 0.1em solid #47607F; 
	margin-top: 50px;
	display: inline-block;
	box-shadow: 0.3em 0.3em 0.5em gray;
}
#submitItem {
	border: 0.1em solid #47607F;
	color: #47607F;
	background-color: white;
	display: inline-block;
	box-shadow: 0.3em 0.3em 0.5em gray;
}
#listItems {
	text-align: center;
}
.list-item {
	width: 80%;
	margin: 10px auto;
	cursor: pointer;
}
.unchecked {
	border: 0.25em solid #FF0B00;
	border-radius: 3em;
}
.checked {
	border: 0.25em solid #006EFF;
	border-radius: 3em;
}
.remove {
	margin: 0.5em 0em 0.5em 1em;
	color: #FF0B00;
	background-color: white;
	border: 0.1em solid #FF0B00;
	box-shadow: 0.3em 0.3em 0.5em gray;
}
#clearList {
	margin-top: 1em;
	height: 3em;
	width: 7em;
	background-color: white;
	border: 0.2em solid #47607F;
	box-shadow: 0.3em 0.3em 0.5em gray;
	text-align: center;
}